.logo{
  padding-bottom: 20px ;
  border-bottom: 3px solid #f6f6f6;
}
.Userlogo{
  margin: 15px;
}
.sideleft{
  height: 100%;
  position: fixed;
  border: 2px solid #f6f6f6;
  border-radius: 10px;
}
.sideright{
  height: 100%;
  position: fixed;
  border: 2px solid #f6f6f6;
  border-radius: 10px;
  background-color: rgb(187, 252, 234);
}
.useredit{
  display: flex;
  justify-content: center;
}
.edit-user{
  font-size: 14px;
  font-weight: 700;
  color: #757575;
}
.get-job{
  font-size: 12px;
  font-family: monospace;
}
.underline{
  border: 2px solid #bdbdbd;
  margin: 10px 0;
  border-radius: 25px;
}
.get-jobs img{
  margin: 15px;
}
.get-refer img, span{
  margin: 20px 15px;
}
